html {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  width: 100%;
  /* height: 100vh;
    width: 100%; */
}
.aside-1 {
  width: 250px;
  background-color: rgb(11, 119, 83);
  height: 100vh;
  color: white;
 
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.aside-2 {
  flex: 1;
  /* padding: 20px; */
  width: 78.8vw;
  background-color: rgb(238, 236, 248);
  height: 100vh;
  overflow-y: auto;
  overflow-wrap: auto;
  box-sizing: border-box;
  position: relative;
}

.aside-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.aside-top {
  background-color: rgb(27, 27, 110);
  /* height: 5rem; */
  width: 100%;
  margin-top: -0.5rem;
  line-height: 5rem;
  position: sticky;
}
.logo {
  width: 100%;
  height: auto;
}

.header-c {
  display: flex;
  align-items: center;
}

.images {
  margin-right: 0.4rem;
}

.university-n {
  margin-top: 1.5rem;
  font-size: smaller;
  text-align: center;
  margin-left: -1.2rem;
}
.f-logo {
  background-color: white;
  width: 20%;
  border-radius: 0 0 1.5rem 1.5rem;
}
.aside-items {
  margin-right: 2rem;
  margin-top: 2rem;
}

.aside-items li {
  border-bottom: 3px groove rgb(238, 236, 248);
  list-style: none;
  margin-bottom: 2rem;
}

.aside-items li:hover,
.profile-list li:hover,
Link:hover {
  color: rgb(27, 27, 110);
  border-bottom: 1px solid rgb(27, 27, 110);
}

.profile {
  position: absolute;
}




.li-i {
  font-size: 1.1rem;
}

.pp {
  width: 40px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  border-radius: 50%; /* Make it round */
  border: 2px solid #fff;
  background-color: white;
}

.figClass {
  
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.figClass:hover{
  cursor: pointer;
}

.icons {
  width: 8%;
  margin-right: 0.4rem;
}

.profile-list {
    background-color: white;
    color: rgb(11, 119, 83);
    z-index: 1;
    /* width: 12%; */
    height: auto;
    margin: 20px;
    /* margin-left: 1rem; */
    margin-top: 1.8rem;
    border-radius: 5px;
    cursor: pointer;
}
li {
  list-style-type: none;
}
.profile-list li {
  padding: 10px;
}

/* .profile-li {
  margin: 1rem;
} */

.Link {
  text-decoration: none;
  color: rgb(11, 119, 83);
}

/* Tablet view */
@media (min-width: 768px) and (max-width: 1023px) {
  .aside-1 {
    width: 30vw;
    color: white;
    padding: 2rem 0;

    margin-bottom: 2rem;
  }
  .aside-2 {
    width: 70vw;
  }

  .aside-top {
    height: auto;

    line-height: 3rem;
  }

  .f-logo {
    width: 30%;
    border-radius: 0 0 20px 20px;
  }
  .aside-items {
    margin-top: 8em;
  }

  .icons {
    width: 10%;
    margin-right: 0.2rem;
  }

  .li-i {
    font-size: 1.2rem;
  }

  .profile-list {
    width: 16%;
    height: auto;

    margin-left: 2.4rem;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 12px;
  }
  .aside-1 {
    width: 35vw;
    color: white;
    padding: 2rem 0;

    margin-bottom: 2rem;
  }
  .aside-2 {
    width: 65vw;
  }

  .aside-top {
    height: auto;

    line-height: 2.6rem;
  }

  .f-logo {
    width: 25%;
    border-radius: 0 0 20px 20px;
  }
  .aside-items {
    margin-top: 8em;
  }

  .header-c {
    margin-top: 0.5rem;
  }
  .date {
    display: none;
  }
  .icons {
    width: 10%;
    margin-right: 0.2rem;
  }

  .li-i {
    font-size: 1rem;
    margin-left: -2rem;
  }

  .profile-list {
    width: 16%;
    height: auto;

    margin-left: 2.4rem;
  }

  .profile-li {
    margin-left: -1.4rem;
  }
}
