.textArea {
    width: 60%;
    margin:auto auto;
}

#text:focus{
    border: 2px solid black;
    outline: none;
}
.f-icons{
    margin-right: 0.5rem;
}

#text{
    margin-bottom: 2rem;
    width:80%
}
.feedback-p{
    font-size: 0.84rem;
}

@media only screen and (max-width: 600px) {
    .textArea {
        width: 90%;

    }

}